/* Mission.css */
.mission-container {
    padding: 100px;
    font-family: 'Arial, sans-serif';
    text-align: center;
  }
  
  .mission-title {
    color: #d5e922;
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .support-paragraph {
    margin-top: 30px;
  }
  